.application-path {
    font-size: 11px;
}

.application-label{
  font-size: 11px;
  font-style: italic;
}

.application-name {
    font-weight: bold;
    font-size: 12px;
}

.applications-list {
    background: white;
}
.loading-label {
    font-size: 10px;
}